@import "tailwindcss";

:root {
  --background: #FCFAF4;
  --background-2: #F4EFE6;
  --background-dark: #1C1917;
  --background-dark-2: #FFFFFF0D;
  --primary: #D5AA63;
  --secondary: #737373;
  --p2: #005BA4;
}

@theme inline {
  --color-background: #FCFAF4;
  --color-background-2: #F4EFE6;
  --color-background-dark: #1C1917;
  --color-background-dark-2: #FFFFFF0D;
  --color-primary: #D5AA63;
  --color-secondary: #737373;
  --color-p2: #005BA4;
}


body {
  font-family: var(--font-fira-sans);
}

@keyframes heroZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

.animate-hero-zoom {
  animation: heroZoom 12s ease-out forwards;
}